.text-green {
  color: #26BE81;
}

.text-green:hover {
  color: #26BE81;
}

.bg-green {
  background-color: #26BE81;
}

.btn-green {
  background-color: #26BE81;
  color: #fff;
}

.bg-dark1 {
  background-color: #171721;
  color: #fff;
}

.bg-off-white {
  background: #F8F8F8;
}

.fs-11 {
  font-size: .70rem;
}

.fs-12 {
  font-size: .75rem;
}

.fs-13 {
  font-size: .8125rem;
}

.fs-14 {
  font-size: .875rem;
}

.fs-15 {
  font-size: .9375rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-17 {
  font-size: 1.0625rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-19 {
  font-size: 1.1875rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fwb {
  font-weight: bold;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.ltr-spc-1 {
  letter-spacing: 1;
}

.ltr-spc-2 {
  letter-spacing: 2;
}

.ltr-spc-4 {
  letter-spacing: 4 !important;
}

.custom-btn {
  border-radius: 0 !important;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding: .5rem 1.5rem !important;
}

.custom-btn:hover {
  color: #fff;
}

.scon {
  display: inline-block;
  background: #26BE81;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.scon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2;
  color: #fff;
}

.bdr-rds-0 {
  border-radius: 0px !important;
}

body {
  font-family: Poppins, sans-serif !important;
}

#head-before .logo-outer {
  height: 100px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top-slider {
  height: 90vh;
  width: 100%;
  background-image: url("../img/slider1.png");
}

#tabbing .nav-tabs {
  border: none;
}

#tabbing .nav-tabs .nav-link {
  color: #000;
}

#tabbing .nav-tabs .nav-link:hover {
  border: none;
}

#tabbing .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #26BE81;
}

#waitingBanner {
  height: 60vh;
  width: 100%;
  background-image: url("../img/bg.webp");
  background-size: cover;
  background-attachment: fixed;
}

#newsletter {
  height: 40vh;
  width: 100%;
}

#newsletter form .form-control,
#newsletter form button {
  border-radius: 0px !important;
}

#newsletter form .form-control {
  width: 60%;
}

#testimonial .testimonials {
  overflow: hidden;
}

#testimonial .swiper-button-next::after,
#testimonial .swiper-button-prev::after {
  display: none;
}

#testimonial .swiper-button-next,
#testimonial .swiper-button-prev {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

#testimonial .swiper-button-next {
  background-image: url("../img/navigation2.PNG");
}

#testimonial .swiper-button-prev {
  background-image: url("../img/navigation1.PNG");
}

#testimonial .swiper-button-next::after,
#testimonial .swiper-button-prev::after {
  display: none;
}

#testimonial .swiper-button-next,
#testimonial .swiper-button-prev {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

#testimonial .swiper-button-next {
  background-image: url("../img/navigation2.PNG");
  top: 80%;
}

#testimonial .swiper-button-prev {
  background-image: url("../img/navigation1.PNG");
  top: 80%;
  left: 85%;
}

#footer {
  height: 100%;
  width: 100%;
}

#footer h4 {
  font-weight: 600 !important;
  position: relative;
  margin-bottom: 1.5rem;
}

#footer h4::after {
  content: "";
  position: absolute;
  bottom: -.5rem;
  left: 0;
  height: 3px;
  width: 2.5rem;
  background: #0a6edd;
}

#footer .sc-mda-links ul li,
#footer .sc-mda-links ul li a {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

#footer .sc-mda-links ul li:hover,
#footer .sc-mda-links ul li a:hover {
  color: #fff;
}

#footer-plus {
  background: #000;
}

@media (min-width: 768px) {
  .border-md-right {
    border-right: 1px solid #dee2e6 !important;
  }
}
/*# sourceMappingURL=style.css.map */